@import url('https://fonts.googleapis.com/css?family=Roboto:400,700&display=swap');

*{
  margin: 0;
  padding:0;
  outline:0;
  box-sizing: border-box;
}

html, body, #root {
  height: 100%;
}

body{
  background: #EDEDED;
  -webkit-font-smoothing: anitialiased;
}

body, input, button {
  font-family: Roboto, sans-serif;
}

..ReactModal__Overlay {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background-color: rgba(0,0,0,0.7);
  z-index: 999;
}
