@font-face {
  font-family: regularNoto;
  src: url("../../assets/fonts/NotoSansDisplay-Condensed.ttf");
}

body{
  font-family: regularNoto;
  background: #fff;
}

.mainWrapper{
  margin: 0 auto;
  padding: 50px;
  max-width: 1024px;
}

.headerPart, .middlePart, .bottomPart{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  border: 1px solid #696969;
}

.headerPart{
  border-top-right-radius: 5px;
  border-top-left-radius: 5px;
  border-bottom: 0px
}

.bottomPart{
  border-bottom-right-radius: 5px;
  border-bottom-left-radius: 5px;
  border-top: 0px;
  flex-wrap: wrap;
}

.bottomPart_left {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  align-items: center;
  width: 40%;

  background-image: url("../../assets/images/silhueta.png");
  background-size: 100% 100%;
  background-repeat: no-repeat;
  min-height: 100vh;
}

.bottomPart_right{
  width: 60%;
  padding: 50px;
  display: flex;
}

.headerButton {
  color: #666;
  padding: 8px;
  background: #E5E5E5;
  margin: 10px;
  cursor: pointer;
  font-weight: bold;
  border: 0px;
}

.headerButton:hover, .activeHeaderButton{
  background: #33B6AE;
  color: #fff
}

.bodyButton{
  background: rgba(51, 182, 173, 0.739);
  display: flex;
  justify-content: center;
  align-items: center;
  width: 72px;
  height: 72px;
  border-radius: 36px;
  cursor: pointer;
}

.bodyButtonInner{
  width: 50px;
  height: 50px;
  background: #33B6AE;
  border-radius: 25px;
  display: none;
  }

.bodyButtonActive{
  display: block;
}

.plusButton {
  display: flex;
  justify-content: center;
  align-items: center;
  /* border: 2px solid #eee; */
  border-radius: 15px;
  width: 35px;
  height: 35px;
  background: #eee;
}

.plusButton button {
  border: 2px solid #fff;
  width: 32px;
  height: 32px;
  border-radius: 15px;
  cursor: pointer;
  margin: 2px;
  color:#999999;
  font-size: 20px;
  font-weight: bold;
}

.info_box{
  border: 1px solid #666;
  border-radius: 5px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.5), 0 6px 20px 0 rgba(0, 0, 0, 0.5);
  padding: 30px

}

.info_box_header{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 10px;
}

.info_box_header h2 {
  color: #33B6AE;
  font-size: 1.9rem;
}

.info_box_header p {
  color: #f1ce00;
  letter-spacing: 3px;
  font-size: 14px;
}

.info_box_header_description{
  padding: 10px;
  font-style: italic;
  color: #5f5e5e;
  border-bottom: 1px solid #5f5e5e;
  margin-bottom: 20px;
  padding-bottom: 30px;
}

.info_box_middle_info_up{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.info_box_middle_medications{
  border-right: 1px solid #5f5e5e;
  padding: 10px;
  width: 50%;
}

.info_box_middle_medications h2 {
  color: #33B6AE;
  font-size: 1rem;
  letter-spacing:2px;
  margin-bottom: 8px;
}

.info_box_middle_medications li{
  color: #5f5e5e; 
  font-style: italic; 
}

.info_box_middle_medications_wrap{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.current {
  font-weight: bold;
  color: #5f5e5e;
  padding-top: 2px;
}

.symbicort h3{
  color: #33B6AE;
  font-weight: bold;
  text-align: center;
}

.symbicort p {
  color: #5f5e5e;
  font-style: italic;
}


.info_box_middle_see_past{
  display: flex;
  justify-content: flex-start;
  margin-bottom: 10px;
}

.info_box_middle_see_past_button{
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  width: 100%;
  padding: 10px;
  border-bottom: 1px solid #5f5e5e;
}

.info_box_middle_see_past_button p{
  color: #7a7a7a;
  font-weight: bold;
  margin-right: 20px;
}

.your_history{
  padding: 10px;
  padding-top: 0px;
}

.your_history h2{
  color: #33B6AE;
  font-size: 1rem;
  letter-spacing:2px;
  margin-bottom: 8px;
}

.finalButton {
  display: flex;
  justify-content: flex-end
}

.arrowContainer {
  width: 50px;
  display: flex;
  flex-direction: column;
  min-height: 100%;
  justify-content: center;
  margin-right: -15px;
  }

.arrowContainerCenter {
  background: blue;
  width: 50px;
  display: flex;
}

.arrowContainerArrow{
  width: 30px;
  background: #fff;
  height: 30px;
  transform: rotate(45deg);
  border-bottom: 1px solid #666;
  border-left: 1px solid #666;
}





@media screen and (max-width: 900px){
  .bottomPart_left, .bottomPart_right{
    width: 100%;
    padding: 0px;

  }
  .info_box{
    margin-top: 30px;
  }

  .bottomPart_left{
    display: none;
  }
}





@media screen and (max-width: 700px){
  /* .silhueta{
    width: 100%;
    height: auto;
  } */

  .bottomPart_left{
    padding-top: 20px;
  }
  
  .mainWrapper{
    padding: 0;
  }

  .headerButton{
    width: 90%;
  }
  .middlePart{
    display: none;
  }
  .headerPart{
    border-bottom: 1px solid #696969;
  }

  .bottomPart{
    border-top: 1px solid #696969;
    padding: 0px;
  }


  .info_box_middle_info_up{
    flex-direction: column;
  }

  .info_box_middle_medications{
    width: 100%;
  }
  
  .info_box_middle_medications_wrap {
    justify-content: space-between;
    padding-bottom: 20px;
    flex-wrap: wrap;

  }

  .info_box_middle_medications{
    border-right: 0px ;
    border-bottom: 1px solid #5f5e5e;
    margin-bottom: 20px;
  }

  .current {
    margin-bottom: 5px;
  }
}






/* Modificação MaterialUi */

.MuiSlider-thumb {
  height: 20px !important;
  margin-top: -10px !important;
  border-radius: 0px !important;
  color: #33B6AE !important; 
}
.MuiSlider-thumb.MuiSlider-active{
  box-shadow: 0px 0px 0px 2px !important;
}

.MuiSlider-root {
  color: #666 !important;
}


.MuiSlider-mark, .MuiSlider-markActive {
  height: 17px !important;
  margin-top: -7px !important;
  background-color: #CCC !important;
}

.MuiSlider-markActive{
  background-color: #CCC !important;
}

.MuiSlider-markLabel {
    top: -15px !important;
}

.MuiSlider-track {
  height: 10px !important;
  margin-top: -3px !important;
  background: rgba(51,182,174,0.2) !important;
}

.MuiSlider-markLabelActive{
  color: #666 !important;
}

.MuiSlider-marked {
  margin-bottom: 0px !important;
}